*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'GILROY', sans-serif;
}
html,body{
    height: 100%;
    width: 100%;
}

#main{
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 25% 25% 25% 25%;
    align-items: center;
    place-items: center;
    background-color: #090808ea;
}
.box{
    height: 80%;
    width: 80%;
    background-color: #ffffff;
    border: 2px solid black;
    border-radius: 10px;
    }

    .box:nth-child(2n){
        background-color: #ff5733;
    }
    .box:nth-child(3n){
        background-color: #2c1caa;
    }
    .box:nth-child(4n){
        background-color: #33ff57;
    }
    .box:nth-child(1){
        background-color: #000000;
        
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .box:nth-child(1) h1{
        color: transparent;
        background: url(https://i.pinimg.com/originals/37/3f/77/373f77f1eb1a21c1c7e627c42c6b6136.gif);
        background-size: cover;
        background-clip: text;
        font-size: 30px;
        text-transform: capitalize;
        -webkit-text-stroke:1px #f0eaea;

    }

    .box:nth-child(1){
        grid-column: 1/4;
        grid-row: 1/2;
    }