*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body,html{
    height: 100%;
    width: 
    100%;
}

main{
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 0.5fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 10px;
    padding: 10px;
    grid-template-areas: "left-top top-center right-top"
                         "left-top center right-bottom"
                         "left-bottom left-bottom right-bottom";
    background-color: rgba(0, 0, 0, 0.886);
}

#left-top{
    grid-area: left-top;
    text-align: center;
    background-color: rgb(255, 0, 0);
}
#top-center{
    text-align: center;
    grid-area: top-center;
    background-color: rgb(0, 255, 0);
}
#right-top{
    text-align: center;
    grid-area: right-top;
    background-color: rgb(0, 0, 255);
}
#center{
    text-align: center;
    grid-area: center;
    background-color: rgb(255, 255, 0);
}
#left-bottom{
    text-align: center;
    grid-area: left-bottom;
    background-color: rgb(0, 255, 255);
}
#right-bottom{
    text-align: center;
    grid-area: right-bottom;
    background-color: rgb(255, 0, 255);
}