*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}
main{
    height: 100%;
    width: 100%;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 60px 1fr 0.5fr 0.5fr;
    grid-gap:20px;
    padding: 10px;
    grid-template-areas:
        "header header header"
        "section section section"
        " left bottom-top right"
        " left bottom-down right";
}

header{
    grid-area: header;
    background-color: #4CAF50;
    color: white;
    text-align: center;
}
section{
    grid-area: section;
    background-color: #ac3030;
}

#left{
    grid-area: left;
    background-color: #2196F3;
    
}
#right{
    grid-area: right;
    background-color: #f19a16;
}
#bottom-top{
    grid-area:bottom-top;
    background-color: #c92323;
}
#bottom-down{
    grid-area:bottom-down;
    background-color: #000000;
}